// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.card-text {
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    margin-top: 2em;
}

.navbar-auth {
    display: flex;
    gap: 1em;
    flex-direction: row;
}
